
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  background-image: url('Untitled design.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 20px;
  border-radius: 10px;
  display: inline-block;
  width: 80;
  max-width: none;
  height: 60;
  box-sizing: border-box;
}
.top-text {
  font-size: 8em;
  margin-bottom: 20px;
  white-space: nowrap;
}

.digit-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.digit {
  height: 300px;
  width: auto;
  margin: 0 5px;
}

.bottom-text {
  font-size: 1.2em;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}
